
/* Basic styles for the profile page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #EBFEFF;
}

.profile-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, rgb(253, 213, 179) 0%, rgb(255, 193, 221) 100%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 32px;
    width: fit-content;
    text-align: center;
    gap:32px;
    overflow: hidden;
}

.switch-user {
    position: absolute;
    left: 8px;
    top:8px;
}

.profile-card header {
    width: auto;
    height: fit-content;
}

.profile-card header h1 {
    font-size: 24px;
    color: #3567cc;
    margin: 0;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    max-width: 400px;
}

.profile-card .image-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: fit-content;
    overflow: hidden;
}

.profile-card .image-profile img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.profile-card .gender-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top:8px;
}

.profile-card .information {
    display: grid;
    grid-template-columns: calc(40% - 8px) calc(40% - 8px) 20%;
    grid-template-rows: repeat(2, 1fr);
    height: fit-content;
    width: 90%;
    gap:8px;
}

.profile-card .information .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    width: fit-content;
}


.profile-card .information .box .category {
    font-size: 10px;
    color:grey;
}

.profile-card .box p {
    max-width: 125px;
}

.profile-card p {
    margin: 0px 0;
    font-weight: 500;
    color: #3567cc;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    overflow: hidden;
    white-space: nowrap;
}

i {
    color: #3567cc;
}

.profile-card .hobbies-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card .hobbies-wrapper h2 {
    grid-row: 1;
    grid-column: span 5;
    font-size: 20px;
    color: #3567cc;
    padding:0;
    margin:0;
    margin-bottom: 8px;
    align-content: center;
}

.profile-card ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style-type: none;
    padding: 0;
    gap:8px;
    padding:0;
    margin:0;
}

.profile-card ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-card .hobbies-wrapper ul li:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.profile-card .hobbies-wrapper ul li:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.profile-card .hobbies-wrapper ul li:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}

.profile-card .hobbies-wrapper ul li:nth-child(4) {
    grid-column: 4;
    grid-row: 1;
}

.profile-card .hobbies-wrapper ul li:nth-child(5) {
    grid-column: 5;
    grid-row: 1;
}

.profile-card .hobbies-wrapper ul li:nth-child(6) {
    grid-column: 1;
    grid-row: 2;
}

.profile-card .hobbies-wrapper ul li:nth-child(7) {
    grid-column: 2;
    grid-row: 2;
}

.profile-card .hobbies-wrapper ul li:nth-child(8) {
    grid-column: 3;
    grid-row: 2;
}

.profile-card .hobbies-wrapper ul li:nth-child(9) {
    grid-column: 4;
    grid-row: 2;
}

.profile-card .hobbies-wrapper ul li:nth-child(10) {
    grid-column: 5;
    grid-row: 2;
}

.profile-card .hobbies-wrapper ul li.turn-green {
    background-color: rgb(176, 239, 176);
}
